* {
    font-family: sans-serif;
}

.cartoni {
    background-color: burlywood;
    margin: 5px;
    border: 4px solid black;
}

.tabtitle:hover {
    background-color: azure;
}

h1 {
    background-color: cornflowerblue;
    color: gold;
    text-align: center;
    margin: 0px;
    border: 5px solid black;
    border-radius: 5px;
}

.scienze {
    margin: 10px;
    border: 4px solid black;
    border-radius: 5px;
}

.cronaca {
    margin: 10px;
    border: 4px solid rgb(95, 88, 88);
    border-radius: 5px;
}

#Article {
    text-align: center !important;
}

img {
    width: 35%;
    margin: 10px;
}