:root {
    font-family: sans-serif;
    --main-color: bisque;
}

.cartoni {
    background-color: burlywood;
    margin: 5px;
    border: 4px solid black;
}

.tabtitle:hover {
    background-color: azure;
}

h1 {
    background-color: cornflowerblue;
    color: gold;
    text-align: center;
    margin: 0px;
    border: 5px solid black;
    border-radius: 5px;
}

.scienze {
    margin: 10px;
    border: 4px solid black;
    border-radius: 5px;
}

.cronaca {
    margin: 10px;
    border: 4px dotted rgb(95, 88, 88);
    border-radius: 5px;
}

#Article {
    text-align: center !important;
}

img {
    width: 35%;
    margin: 10px;
}

.cat p {
    font-size: x-large;
    background-color: var(--main-color);
    display: inline;
}

div th:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}

.bottoniflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottoniflex button {
    margin: 15px;
    background-color: var(--main-color);
    width: fit-content;
}

.bottoniflex button:focus {
    background-color: gold;
}

.smartphone {
    align-text: center;
    background-color: var(--main-color);
}

@media (min-width: 768px) {
    .bottoniflex {
        margin-top: 50px;
    }
    .smartphone {
        display: none;
    }
}



